## /etc/my.cnf / 20150507
## Marianne Spiller <github@spiller.me>
## mysql-cluster-gpl-7.4.6-linux-glibc2.5-x86_64

[mysqld]
bind-address            = 10.0.2.10
ndbcluster
#----------------------------------------------------------------------
# Angabe der management nodes
ndb-connectstring=management1,management2
[mysql_cluster]
#----------------------------------------------------------------------
# Angabe der management nodes
ndb-connectstring=management1,management2
